:80 {
    reverse_proxy barboursier:3001

    encode gzip

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }

    @static path /assets/*
    header @static Cache-Control "public, max-age=31536000, immutable"

    log {
        output stdout
        format json
    }
}
